{% extends 'base.html' %}

{% block title %}Register Tenant| {% endblock title %}

{% block body %}
<div class="right-panel" id="right-panel">
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Tenant Registration Form</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <style>
body
{font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box;}

input[type=text],input[type=email], select,textarea {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input [type=button],[type=submit] {
  text-align: center;
  margin: 0 auto;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 40px;
  text-decoration: none;
  cursor: pointer;
}

.container{

  margin: auto;
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

  }

    </style>

    <center><h3><br>Enter Tenant Details</h3></center>
    <center>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <input class="name" name="name" placeholder="Full name" required type="text">
                <input id="email" name="email" placeholder="Email" required type="email">
                <input id="phone" name="phone" placeholder="Phone number" required type="text">
                <input id="address" name="address" placeholder=" Full Address" required type="text"><br>
                <select id="idtype" name="idtype">
                    <option value="">Select ID Type</option>
                    <option value="Aadhaar Card">Aadhaar Card</option>
                    <option value="Driving License">Driving License</option>
                    <option value="PAN Card">PAN Card</option>
                    <option value="Passport">Passport</option>
                    <option value="Voter ID">Voter ID</option>
                </select>
                <input id="idn" name="idn" placeholder="Enter ID No." required type="text">
                <br>
                <label for="dob">Enter Date Of Birth:</label>
                <input id="dob" name="dob" placeholder="DOB" required type="date"><br><br>
                <label for="gender"><b>Gender :&nbsp</b></label>
                <label for="male" id="gender">Male</label>
                <input id="male" name="gender" required type="radio" value="male">
                <label for="female">Female</label>
                <input id="female" name="gender" required type="radio" value="female">
                <br><br>
                <button id="submit" name="submit" type="submit">Submit</button>
            </form>
        </div>
    </center>
</div>

</div>


{% endblock body %}
